@import "tailwindcss";

/* Default theme → Light mode */
:root {
  --background: #f9fafb; /* Main background (light neutral) */
  --background-two: #f1f3f6; /* Subtle contrast – for secondary sections */
  --background-three: #e1e4e8; /* Stronger contrast – for cards or borders */
  --background-four: #000000;
  --background-border: #ebebeb;

  --card-background: #f4f5f7;

  /* Light mode accents */
  --accent-red: #ef4444;
  --accent-red-light: #f87171;
  --accent-blue: #00cfff;
  --accent-blue-light: #4ddbff;
  --accent-orange: #f97316;
  --accent-orange-light: #fb923c;
  --accent-yellow: #eab308;
  --accent-yellow-light: #fde047;
  --accent-pink: #ec4899;
  --accent-pink-light: #f472b6;

  --text-color-one: #000000;
  --text-color-two: #ffffff;
  --text-color-three: #9ca3af;
  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0f12;
    --background-two: #1e2126;
    --background-three: #242424;
    --background-four: #ffffff;
    --background-border: #2f3030;
    --card-background: #121416;

    /* Dark mode text colors */

    --text-color-one: #ffffff;
    --text-color-two: #000000;
    --text-color-three: #6b7280;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-background-two: var(--background-two);
  --color-background-three: var(--background-three);
  --color-background-four: var(--background-four);
  --color-background-border: var(--background-border);
  --color-card-background: var(--card-background);

  --color-accent-yellow: var(--accent-yellow);
  --color-accent-yellow-light: var(--accent-yellow-light);
  --color-accent-red: var(--accent-red);
  --color-accent-red-light: var(--accent-red-light);
  --color-accent-blue: var(--accent-blue);
  --color-accent-blue-light: var(--accent-blue-light);
  --color-accent-orange: var(--accent-orange);
  --color-accent-orange-light: var(--accent-orange-light);
  --color-accent-pink: var(--accent-pink);
  --color-accent-pink-light: var(--accent-pink-light);

  --color-text-color-one: var(--text-color-one);
  --color-text-color-two: var(--text-color-two);
  --color-text-color-three: var(--text-color-three);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
